*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'gatha';
    src: url("assets/zt-gatha.semibold.otf") format("opentype");
}


:root{
    font-size: 10px;
    --columns: 0;
    --rows: 0;
    --mainwb-color1: rgba(100,20 ,255, 1);
    /* --mainwb-color1: rgba(36, 114, 114, 1); */
    /* --mainwb-color1: rgba(170, 0 ,50, 1); */
    /* --mainwb-color1: rgba(0,75 ,255, 1); */
    
    --mainwb-color2: #242424;
    --mainwb-color3: #1B1B1B;
    --mainwb-color4: #101010;
    --mainwb-color5: white;
}




/* nav and top section */
nav{
    z-index: 999;
    transition: .8s;
    /* position: fixed; */
    width: 100%;
}

.navhid{
transform: translateY(-100%);
}

.navshow{
    transform: translateY(0%);
}

.nav-main{
    display: flex;
    justify-content: space-between;
    padding: 0 48px;
    height: 90px;
    background-color: var(--mainwb-color4);
    opacity: 1;
    font-family: 'gatha';
    width: 100%;
    height: 100%;
    transition: 1s;
    
}


.nav-right ul li{
display: inline;
}

a{
    text-decoration: none;
}

.nav-left a{
    font-size: 88px;
    /* color: var(--mainwb-color1); */
    color: var(--mainwb-color4);
    -webkit-text-stroke:  1px var(--mainwb-color1);
    display: flex;
    align-items: center;
}

.nav-right{
    display: flex;
    align-items: center;
}

.nav-right a{
    color: var(--mainwb-color5);
    /* text-transform: uppercase; */
    font-size: 2.2rem;
    margin: 12px;
}

.nav-right ul li:nth-child(3){
    position: relative;
}

.moreBlock{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    transform: translate(-20%, 0);
    z-index: 999;
    padding-top: 35px;
    display: flex;
    justify-content: start;
    align-items: start;
}

.moreBlockMain{
    display: flex;
    flex-direction: column;
    background-color: var(--mainwb-color4);
    overflow: hidden;
    height: 0;
    transition: 1s ease;
}

.moreItem{
    padding: 15px 40px;
    font-size: 2.2rem;
}

.moreItem:has(.coloursBox){
    padding: 0;
}

.coloursBox{
    display: flex;
    gap: 5px;
    justify-content: center;
}


.coloursBox div{
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.redItem{
    background-color: rgba(170, 0 ,50, 1);
}

.blueItem{
    background-color: rgba(0,75 ,255, 1);
}

.purpleItem{
    background-color:rgba(100,20 ,255, 1) ;
}

.getInTouch{
    border: 1px var(--mainwb-color5) solid;
    padding: 12px;
    font-size: 2.6rem !important;
    color: var(--mainwb-color1) !important;
    /* -webkit-text-stroke: 1px var(--mainwb-color1);  */
    transition: .3s;
}

.getInTouch:hover{
    border: 1px solid var(--mainwb-color1);
}

.topSection{
    position: relative;
    overflow: hidden;
    height: 700px;
}

.topSectionBG{
    position: relative;
    left: 0;
    top: 0;
    z-index: 3;
    height: 100%;
    width: 100%;
    background-color: #242424;
    opacity: 0.4;
}

.topSectionMain{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    font-size: 9rem;
    z-index: 10;
    font-family: 'gatha';
    -webkit-text-stroke: 4px var(--mainwb-color1);
}

.topSectionMain h1{
    scale: 1 1.9;
    transition: .5s;
}
/* end of nav and top section */


/* main */
html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--mainwb-color4);
    color: var(--mainwb-color5);
    font-family: 'gatha', sans-serif;
}

/* About me */

.aboutme-main{
    padding: 200px 4% ;
    display: flex;
    overflow: hidden;
    color: var(--mainwb-color1);
}

.aboutme-left{
    max-width: 50%;
    color: var(--mainwb-color5);
}
.aboutme-left h3{
    font-size: 6rem;
    text-transform: uppercase;
    margin-bottom: 1.4rem;
    font-family: 'gatha';
    color: transparent;
    -webkit-text-stroke: 2px var(--mainwb-color1);
}
.aboutme-left p{
    font-size: 3.4rem;
}

.aboutme-right{
    display: flex;
    text-align: justify;
    writing-mode: vertical-lr;
    padding-left: 48px;
    font-family: 'gatha';
    color: transparent;
    -webkit-text-stroke: 2px var(--mainwb-color1);
}

.aboutme-right h2{
    font-size: 6rem;
    text-transform: uppercase;
    transition: 1s;
}

.whyme-left span{
    font-family: 'gatha';
    font-size: 7.5rem;
    color: transparent;   
    -webkit-text-stroke: 2px var(--mainwb-color1) ;
}

/* me */
.me{
    padding: 190px;
    position: relative;
}

.me-x{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.me-x h2{
font-size: 30rem;
scale: 1.6 2;
font-family: 'gatha';
color: var(--mainwb-color4);
-webkit-text-stroke: 5px var(--mainwb-color1);
text-shadow: 0 10px 10px black;
}

.me-links{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.box-icons{
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    width: 60px;
}

.box-icons a{
    font-size: 5.5rem;
    color: var(--mainwb-color5);
    margin-top: 30px;
}


/* why me */
.whyme{
    padding: 150px 4%;
    display: flex;
}

.whyme-left{
    width: 33%;
    color: var(--mainwb-color5);
}

.whyme-left h3{
font-size: 6rem;
text-transform: uppercase;
margin-bottom: 1.4rem;
}

.whyme-left p{
    font-size: 3.4rem;
}

.whyme-right{
    display: flex;
    gap: 30px;
    padding-left: 30px ;
}

.whyme-item{
    position: relative;
    width: 350px;
    height: 220px;
    background-color: #242424;
    border-radius: 48px;
    overflow: hidden;
    box-shadow: 8px 13px 10px black;
}

.whyme-tiles{
    display: grid;
    grid-template-columns: repeat(var(--columns), 50px);
    grid-template-rows: repeat(var(--rows), 50px);
    z-index: 10;
    gap: 1px;
    transform:  translateY(-16px);
    
}

.tile{
    background-color: var(--mainwb-color3);
}

.tile:hover{
    background-color: var(--mainwb-color2);
}

.whyme-background{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
text-align: left;
padding: 5rem 3rem;
/* transition: 1s; */
background-color: var(--mainwb-color3);
overflow: hidden;
}

.whyme-background h5{
    font-size: 3.5rem;
    margin-bottom: 3px;
}

.whyme-background p{
    font-size: 1.8rem;
}

.whyme-curtain{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(80, 80, 80, 1) ;
    border-radius: 50px;
}

.whyme-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    color: transparent;
    pointer-events: none;
    text-transform: uppercase;
    transition: 1s;
    -webkit-text-stroke: 1px var(--mainwb-color1);
    font-family: 'gatha';
}

/* skills */
.skills-main{
    display: flex;
    padding: 150px 4%;
}

.skills-left{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 0 15px;
}

.skills-right{
padding-left: 48px;
}

.skills-right h3{
    font-size: 6rem;
    color: var(--mainwb-color5);
}

.skills-right span{
    font-size: 7.5rem;
    -webkit-text-stroke: 2px var(--mainwb-color1);
    color: transparent;
}


.skills-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% / 3);
    padding: 30px;
    background-color: #242424;
    position: relative;
    box-shadow: -8px 13px 10px black;
}

.skills-pro{
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-bottom: 30px;
    background: conic-gradient(var(--mainwb-color1) 0deg, var(--mainwb-color2) 0deg);
}

.skills-per{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.skills-pro::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 170px;
    width: 170px;
    border-radius: 50%;
    background-color: var(--mainwb-color2);
    transform: translate(-50%, -50%);
}


.skills-item p{
font-size: 3rem;
/* color: transparent;
-webkit-text-stroke: var(--mainwb-color1) 1px; */
color: var(--mainwb-color5);
}



/* road */
.road{
    padding: 150px 4%;
}


/* contact */
.contact{
    margin: 150px 0;
    background-color: var(--mainwb-color1);
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'gatha';
}

.contact h3{
    font-size: 5.5rem;
    margin-bottom: 48px;
}

.textInput{
    margin-bottom: 48px;
    background: transparent;
    border: none;
    border-bottom:2px var(--mainwb-color2) solid ;
    font-size: 2.2rem;
    color: var(--mainwb-color5);
    text-shadow: -3px 3px var(--mainwb-color2);
    padding: 3px 10px;
}


.textInput::placeholder{
    color: var(--mainwb-color5);
    text-shadow: -3px 3px var(--mainwb-color2);
}

.textInput:focus{
    border-bottom: 2px var(--mainwb-color2) solid;
    outline: none;
}

.messageInput{
    width: 30%;
    /* height: 100px; */
    overflow: hidden;
    resize: none;
    background: rgba(0, 0, 0, 0.2);
    /* padding-top: 64px; */
}

.contactUpper{
    width: 30%;
    display: flex;
}

.contactBottom{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contactLeft{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.messageInput::placeholder{
    /* padding-top: 64px; */
}

.contactRight{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    text-align: center;
    font-size: 3.5rem;
    /* color: transparent; */
    color: var(--mainwb-color2);
    /* -webkit-text-stroke: 2px var(--mainwb-color2); */
}

.contactRight h3{
    color: transparent;
    font-size: 9rem;
    -webkit-text-stroke: 2px var(--mainwb-color2);

}

.contactBottom button{
padding: 7px 12px;
background-color: rgba(0, 0, 0, 0.2);
border: none;
color: transparent;
font-size: 3rem;
-webkit-text-stroke: 1px black;
cursor: pointer;
border-radius: 24px;
transition: .5s;
}

.contactBottom button:hover{
background-color: rgba(0,0,0, 0.25);
}

/* media */
@media screen and (max-width:1820px){
.whyme{
    flex-direction: column;
}
    .whyme-left{
    width: 100%;
    margin-bottom: 48px;
}
.whyme-item{
    width: calc(100%/3);
}
}


@media screen and (max-width:1200px){
.whyme{
    flex-direction: column;
}
.whyme-left{
    margin-bottom: 48px;
    width: 100%;
}
.whyme-right{
    display: flex;
    flex-direction: column;
    padding-left: 0;
}
.whyme-item{
    width: 100%;
}
}

@media screen and (max-width:992px){
    :root{
        font-size: 9px;
    }
    .skills-main{
        flex-direction: column;
    }
    .skills-left{
        order: 2;
    }
    .skills-right{
        order: 1;
        margin-bottom: 48px;
    }
    .skills-left{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .skills-item{
        width: auto !important;
    }
}
/* others- put in other file*/
.light {
    position: absolute;
    width: 15px;
    height: 200px;
    opacity: 0.2;
    background-color: var(--mainwb-color1);
    opacity: 0;
    top: 100vh;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    z-index: 10;
    transition: .5s;
}

.l1{
    animation: floatUp 4s infinite linear;
  transform: scale(1.0);
   }
   .l2{
     animation: floatUp 7s infinite linear;
   transform: scale(0.9);
   left: 15%;
    }
    .l3{
     animation: floatUp 2.5s infinite linear;
   transform: scale(1.2);
   left: -15%;
    }
    .l4{
     animation: floatUp 4.5s infinite linear;
   transform: scale(0.7);
   left: -34%;
    }
    .l5{
     animation: floatUp 8s infinite linear;
   transform: scale(2.2);
   left: -57%;
    }
    .l6{
     animation: floatUp 3s infinite linear;
   transform: scale(0.8);
   left: -81%;
    }
    .l7{
     animation: floatUp 5.3s infinite linear;
   transform: scale(3.2);
   left: 37%;
    }
    .l8{
     animation: floatUp 4.7s infinite linear;
   transform: scale(1.7);
   left: 62%;
    }
    .l9{
     animation: floatUp 4.1s infinite linear;
   transform: scale(0.9);
   left: 85%;
    }

    @keyframes floatUp{
        0%{top: 100vh; opacity: 0; transform: skewY(20deg) ;}
        25%{opacity: 1; transform: skewY(20deg);}
        50%{top: 0vh; opacity: .8; transform: skewY(20deg);}
        75%{opacity: 0.5; transform: skewY(20deg);}
        100%{top: -100vh; opacity: 0; transform: skewY(20deg);}
      }


.hide{
opacity: 0;
}



